<script src="../javascript/search.js"></script>
<script src="../javascript/add.js"></script>
<script type="module" src="../javascript/data.js"></script>
<script type="module"  src="../javascript/discover.js"></script>


</body>
</html>