<div class="left overflow-hidden  relative flex flex-col ml-[10px] px-3 s py-7  h-screen text-white w-[20%] border-r-[1px] border-gray-400/35 ">
            
            

    <div class="logo flex flex-col gap-2  ">

        <img src="../img/default/logo.png" class="insta  w-[100px] mb-[10px] ml-2  hover:cursor-pointer pt-[10px]" alt="">

        <a href="/user/feed">

            <div class="hom icon flex gap-5 items-center w-auto hover:bg-gray-50/10  overflow-hidden font-thin   py-3 px-2 rounded-lg hover:cursor-pointer ">

                <img src="../img/default/home.png" class="invert w-7 hover:cursor-pointer" alt="">
                <span class="font-semibold">Home</span>


            </div>

        </a>
        

        <div class="search icon overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 rounded-lg hover:cursor-pointer">

            <img src="../img/default/search-7.png" class="invert w-7  border-black hover:cursor-pointer" alt="">
            <span class="font-semibold">Search</span>


        </div>

        <a href="/user/discover">

            <div class="discover icon  overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 rounded-lg hover:cursor-pointer">

                <img src="../img/default/compass-point-7.png" class="invert w-7 hover:cursor-pointer" alt="">
                <span class="font-semibold">Explore</span>
            </div>


        </a>




        <div class="reel icon overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 rounded-lg hover:cursor-pointer">
            
            <img src="../img/default/instagram-reels-icon.png" class="invert w-6 hover:cursor-pointer" alt="">
            <span class="font-semibold hover:cursor-pointer">Reels</span>

        </div>

        <div class="messanger icon overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 rounded-lg hover:cursor-pointer">

            <img src="../img/default/messenger_1617469.png" class="invert w-6 hover:cursor-pointer" alt="">
            <span class="font-semibold">Messages</span>


        </div>

        <div class="noti icon  overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 rounded-lg hover:cursor-pointer">

            <img src="../img/default/heart-7.png" class="invert w-6 hover:cursor-pointer " alt="">
            <span class="font-semibold">Notification</span>

        </div>

        <div class="add icon overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10 rounded-lg   py-3 px-2 hover:cursor-pointer">

            <img src="../img/default/plus-sign.png" class="invert w-6 hover:cursor-pointer" alt="">
            <span class="font-semibold">Create</span>

        </div>

        <a href="/user">


            <div class="profile rounded-lg  icon  overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 hover:cursor-pointer">

                <div class="pro shrink-0 bg-white w-[35px] h-[35px] rounded-full overflow-hidden hover:cursor-pointer ">
                    
                    <% if (user.dp) { %>
                        <img src="data:<%= contentType %>;base64,<%= base64Data %>" class="w-full h-full  object-cover object-center" alt="User Image">
                    <% } else { %>
                        <img src="/img/default/default.png" class="w-full h-full object-cover object-center " alt="Default User Image">
                    <% } %>

                </div>
                        
                <span class="font-semibold">Profile</span>

            </div>

        </a>


       
    </div>

    <div class="last  flex justify-end flex-col gap-2 relative h-full mb-[10px] ">

        <div class="thread rounded-lg  icon flex items-center w-[105%] hover:bg-gray-50/10  py-3 px-2 hover:cursor-pointer  gap-1 absolute left-[-2.5%] bottom-10 ">

            <img src="../img/default/threads-app-icon-removebg-preview.png" class="w-10 hover:cursor-pointer " alt="" srcset="">
            <span class="font-semibold">Thread</span>


        </div>

        

            <a href="/logout">

                <button class="bg-red-600  mt-8 w-[100%] font-semibold text-sm px-8 h-10 rounded-lg">logout</button>
            </a>


    </div>

 
   
</div>

<div class="seee hidden w-[24%] border-r-[1.5px] border-gray-400/35    py-[2vh]  text-white ">

    <div class="innerP h-[15vh]  px-[1vw] border-b-[1.5px] pb-2 border-gray-400/35">


        <h1 class="font-semibold tracking-tight text-3xl mb-10">Search</h1>

        <div class="inputA flex items-center relative">

            <input type="text" placeholder="search" name="name" class="p-2 outline-none bg-white/35 w-full inputA rounded-lg h-[3.8vh]"><span class="absolute right-2  text-sm text-blue-200 hover:cursor-pointer w-max ">Clear
            </span>

        </div>
    </div>

    <div class="searchedP">

        <div class="butt flex justify-between w-full my-2">
            <p class="font-semibold">Recent</p>

            <div class="clear text-blue-500 font-semibold hover:cursor-pointer pr-4">Clear all</div>

        </div>

        <div class="user mb-2 hover:bg-gray-50/10  bg-black flex relative px-3 items-center  h-[6vh] w-full">
        
         <div class="proi w-[2.5vw] h-[2.5vw] border-2 border-red-400 rounded-full overflow-hidden"><img src="../img/p/428076736_1056279748962087_2851713635285337726_n.jpg" class="object-cover object-center" alt=""></div>


         <div class="nameP text-sm ml-2 tracking-tight ">
             <div class="username font-semibold">selenagomez</div>
             <div class="name opacity-45">Selena Gomez <span>. 495M Follower</span></div>
         </div>
         
         <div class="cross absolute right-4">
            <i class="ri-close-fill opacity-45 text-2xl"></i>
         </div>

        </div>

        
        <div class="user mb-2 hover:bg-gray-50/10  bg-black flex relative px-3 items-center  h-[6vh] w-full">
        
            <div class="proi w-[2.5vw] h-[2.5vw] border-2 border-red-400 rounded-full overflow-hidden"><img src="../img/p/428076736_1056279748962087_2851713635285337726_n.jpg" class="object-cover object-center" alt=""></div>


            <div class="nameP text-sm ml-2 tracking-tight ">
                <div class="username font-semibold">selenagomez</div>
                <div class="name opacity-45">Selena Gomez <span>. 495M Follower</span></div>
            </div>
            
            <div class="cross absolute right-4">
               <i class="ri-close-fill opacity-45 text-2xl"></i>
            </div>

           </div>
        
    </div>





 </div>

 <div class="addB fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white -z-10 w-[35vw] h-[80vh] overflow-hidden rounded-lg bg-[#262626]">


    <div class="headP px-2 flex items-center justify-between border-gray-400/35  border-b-[1.5px] ">
        <img class="backB hidden invert " src="../img/svg/back.svg" alt="">
        <h1 class="font-semibold text-center w-full headA p-2 ">Create new post</h1>
        <button class="next hidden capitalize text-blue-400 hover:cursor-pointer ">next</button>

    </div>


    <form action="/upload" method="post" enctype="multipart/form-data" class="flex flex-col gap-5 justify-center items-center h-full pb-[100px]">
        <label for="fileInput" class="block">
            <img src="../img/svg/photo.svg" class="invert" alt="">
        </label>
        <p class="block font-semibold text-xl tracking-tight">Drag photos and videos here</p>
        <input type="file" name="file" id="fileInput" class="input-file hidden">
        <input type="text" class="hidden" name="caption" id="captionPart">
        <input type="button" id="inputb" value="Select From computer" class="bg-[#1877F2] rounded-lg hover:bg-blue-600 p-2 block">
        <input type="submit"  class="hidden" id="hidden_subbutton">
    </form>

    <div class="imageVP z-10  absolute h-full hidden w-full bg-red-400">

        <div class="imageS h-full  w-full bg-blue-500 "><img src="" class=" selected-image h-full w-full object-cover object-center" alt="image">
        </div>

        


     </div>

     <div class="captionP  absolute z-0 w-full h-full ">
          <div class="section h-full flex">
            <img class="capI w-[40vw] mr-1 h-full object-cover object-center" src="" alt="">
            <div class="cpation ">
                <div class="userin my-6 mx-4 flex gap-2">
                     <img src="../img/p/428076736_1056279748962087_2851713635285337726_n.jpg" class="max-w-[2vw] max-h-[2vw] rounded-full" alt="">
                    <div class="username font-semibold">selenagomez</div>

                </div>

               <textarea class="bg-transparent outline-none border-none w-[15vw] min-h-16 resize-none" id="textarea" placeholder="Enter your caption" ></textarea>
                
            </div>
          </div>
     </div>

    </div>