<%- include('partials/header') %>

    <title>Explore</title>
</head>
<body>

    <main class="bg-black w-screen h-screen  flex">

<%- include('partials/leftSide') %>
      

        <div class="right h-full relative  p-[10px] w-[50%] overflow-y-scroll ml-[13%] ">
            <div class="postDis  w-[40vw] bg-white grid min-h-[10vh]  grid-cols-3 gap-0 mt-[10px]">

            
             
            </div>
        </div>

    </main>
<%- include('partials/footer') %>