<%- include ('partials/header.ejs') %>
    <title>Login</title>
</head>
<body>

    <main class="flex h-screen w-screen  justify-center items-center">

        <div class="imagePart ">
            <div class="scrennS ">
                <img src="../img/default/home-phones.png" alt="">
                <img src="../img/default/screenshot1.png" class=" image-se fixed top-[18.6%]  left-[37.5%]" alt="">
          
            </div>

        </div>
     
        <div class="loginArea relative w-[17vw]    ">
            <div class="upperH border-[1px] gap-8 p-10  flex flex-col items-center  border-gray-500/25">

                <div class="logo">
                   <img src="../img/default/logo.png" class="invert w-[8.8em]" alt="">
                </div>
                <form action="./feed.html" class="border-b-[1.2px] pb-5 rounded-lg border-gray-500/25">
   
                   <input type="text" name="Username" id="username" placeholder="Username" class="w-full text-sm outline-none border-[0.8px] bg-slate-200/55  rounded-sm p-1 border-gray-500/55 my-2" >
                   <input type="password" name="password" id="password" placeholder="password" class="w-full text-sm outline-none border-[0.8px] bg-slate-200/55  rounded-sm p-1 border-gray-500/55 my-2">
                   <input type="submit" value="login" id="submit" disabled class="w-full bg-blue-400 text-white hover:cursor-pointer font-semibold text-sm p-2 rounded-md">
   
                </form>
   
                <p class=" fixed  top-[53%] w-max h-max px-2 text-center bg-white" >or</p>
   
                <div class="other">
   
                    
                                 <span><img src="../img/default/vecteezy_icone-facebook-png_16716481.png" class=" inline-block max-w-[1vw]" alt=""></span>
                                 <span class="_ab37">Log in with Facebook</span>
   
                </div>


            </div>
            <div class="lowerH border-[1px] rounded-lg flex items-center p-5  border-gray-500/25 my-4">

                <a href="./register.html" class="text-black w-full text-center hover:cursor-pointer hover:text-gray-600">Don 't have a account ? <span class="text-blue-500 font-semibold">Sign up </span></a>

            </div>


        </div>


    </main>

    <script src="../javascript/login.js"></script>


</body>
</html>