<%- include('partials/header.ejs') %>
<title>profile</title>
</head>
<body>
    <main class="bg-black w-screen h-screen flex">

        <%- include('partials/leftSide') %>


       

        <div class="right w-[80%] h-screen flex flex-col items-center">

            <div class="upperHalf pt-[25px]  pb-[50px] border-b-2 border-collapse border-gray-400/50 w-[50%] h-max">


                <div class="detailPart flex  gap-[50px]">
                    
                    <div class="dp w-[20%] h-[20%] mt-[25px] rounded-full overflow-hidden">
     
                        <img src="../img/default/default.png" class="w-max h-max object-cover object-center"  alt="">
                      
                      </div>
                      <div class="mainP text-white  w-[85%] p-[8px] flex flex-col gap-[10px]">
                        

                          <div class="nameP  mt-[25px] ml-[5%] flex items-center h-max gap-[15px] ">
                              <h1 class="inline-block text-lg font-semibold">its_rahulsamant</h1>
                              <button class=" bg-gray-500/65 rounded-lg  p-[8px] font-semibold text-sm">Edit profile</button>
                              <button class=" bg-gray-500/65 rounded-lg  p-[8px] text-sm font-semibold">View archive</button>
                              <img src="../img/svg/setting.svg" class="invert hover:cursor-pointer" alt="">
      
                           </div>
        
                        
                        <div class="followers flex gap-[8px] ml-[5%] items-center h-max ">
    
                            <label for="post text-lg">0</label>
                            <p name="post" class="font-light text-lg mr-[10px]  ">Post</p>

                            
                            <label for="follower text-lg">10</label>
                            <p name="follower" class="font-light text-lg mr-[10px] ">follower</p>

                            
                            <label for="follwing text-lg">100</label>
                            <p name="follwing" class="font-light text-lg mr-[10px] ">following</p>
        
                        </div>


                        <div class="bio  ml-[5%] text-white">
                            <div class="name text-lg font-semibold">Rahul singh samant</div>
                            <p class="text-sm tracking-wide line-clamp-3 hover:line-clamp-none ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, quisquam corporis. Mollitia accusantium dignissimos quas perspiciatis, sit velit minus ipsum at illum qui quisquam aliquid hic repellendus vitae assumenda quod.
                            Ullam quis sed non dolorem nisi animi molestias architecto magni labore voluptatibus reiciendis unde sit aliquid minus, atque delectus ex fugit.</p>
        
                        </div>


                      </div>
    
        
                </div>

                <div class="highlights w-max flex flex-col items-center gap-[5px]  mt-[15px] h-max">
                    <div class="high w-[80px] h-[80px] border-[1.2px] border-gray-500/80 rounded-full flex justify-center items-center p-0 ">
                      <img src="../img/svg/add.svg" class="opacity-35 invert hover:opacity-100" alt="">
                    </div>
                    <p class=" text-white w-max capitalize text-sm  ">new</p>
                </div>

            </div>

            
            <div class="lowerhalf w-[50%] relative border-collapse  h-[20%] ">

                <div class="headingg flex absolute top-0 justify-center gap-[50px]  w-[100%]">

                    <div class="post hover:cursor-pointer pt-[13px] hover:border-t-[1.5px] border-collapse border-white">
                             <img src="../img/svg/grid.svg" class="invert inline-block" alt="">
                             <span class="text-gray-400/55">Post</span>
                    </div>
                    <div class="savedIm hover:cursor-pointer pt-[13px] hover:border-t-[1.5px] border-collapse border-white">
    
                        <img src="../img/svg/bookmark.svg" class="invert inline-block" alt="">
                             <span class="text-gray-400/55">Saved</span>
                    </div>
                    <div class="tagged pt-[13px] hover:cursor-pointer hover:border-t-[1.5px] border-collapse border-white">
                        <img src="../img/svg/tag.svg" class="invert inline-block" alt="">
                             <span class="text-gray-400/55">Tagged</span>
                    </div>





                </div>
            </div>



        </div>





    </main>

</body>
</html>