<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/output.css" >
    <link rel="stylesheet" href="../public/stylesheets/profile.css">
    <link rel="shortcut icon" href="../public/img/default/download.png" type="image/x-icon">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<style>
    .highlights::-webkit-scrollbar{
        display: none;
    }
</style>
<title>User</title>
</head>
<body>
    <main class="bg-black w-screen h-screen flex">


        <div class="left flex flex-col ml-[10px] px-3 py-7  h-screen text-white w-[20%] border-r-[1px] border-gray-400/35 ">
            
            

            <div class="logo flex flex-col gap-2  ">

                <img src="../public/img/default/logo.png" class="w-[100px] mb-[10px] ml-2  hover:cursor-pointer pt-[10px]" alt="">
                
                <div class="hom  flex gap-5 items-center w-auto hover:bg-gray-50/10  overflow-hidden font-thin   py-3 px-2 rounded-lg hover:cursor-pointer ">

                    <img src="../public/img/default/home.png" class="invert w-7 hover:cursor-pointer" alt="">
                    <span class="font-semibold">Home</span>


                </div>

                <div class="search overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 rounded-lg hover:cursor-pointer">

                    <img src="../public/img/default/search-7.png" class="invert w-7 hover:cursor-pointer" alt="">
                    <span class="font-semibold">Search</span>


                </div>

                <div class="discover overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 rounded-lg hover:cursor-pointer">

                    <img src="../public/img/default/compass-point-7.png" class="invert w-7 hover:cursor-pointer" alt="">
                    <span class="font-semibold">Explore</span>


                </div>

                <div class="reel overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 rounded-lg hover:cursor-pointer">
                    
                    <img src="../public/img/default/instagram-reels-icon.png" class="invert w-6 hover:cursor-pointer" alt="">
                    <span class="font-semibold hover:cursor-pointer">Reels</span>

                </div>

                <div class="messanger overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 rounded-lg hover:cursor-pointer">

                    <img src="../public/img/default/messenger_1617469.png" class="invert w-6 hover:cursor-pointer" alt="">
                    <span class="font-semibold">Messages</span>


                </div>

                <div class="noti overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 rounded-lg hover:cursor-pointer">

                    <img src="../public/img/default/heart-7.png" class="invert w-6 hover:cursor-pointer " alt="">
                    <span class="font-semibold">Notification</span>

                </div>

                <div class="add overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 hover:cursor-pointer">

                    <img src="../public/img/default/plus-sign.png" class="invert w-6 hover:cursor-pointer" alt="">
                    <span class="font-semibold">Create</span>

                </div>

                <div class="profile overflow-hidden font-thin flex gap-5 items-center w-auto hover:bg-gray-50/10  py-3 px-2 hover:cursor-pointer">

                    <div class="pro w-[1.5vmax] h-[1.5vmax] bg-white rounded-full overflow-hidden hover:cursor-pointer "> <img src="../public/img/default/blank-profile-picture-973460_640.webp" class="w-full h-full" alt=""></div>
                    <span class="font-semibold">Profile</span>

                </div>

               
            </div>
            <div class="last  flex justify-end flex-col gap-2 relative h-full mb-[10px] ">

                <div class="thread  flex items-center w-[105%] hover:bg-gray-50/10  py-3 px-2 hover:cursor-pointer  gap-1 absolute left-[-2.5%] bottom-10 ">

                    <img src="../public/img/default/threads-app-icon-removebg-preview.png" class="w-10 hover:cursor-pointer " alt="" srcset="">
                    <span class="font-semibold">Thread</span>


                </div>

                <div class="more flex items-center w-auto hover:bg-gray-50/10  py-3 px-2 hover:cursor-pointer  gap-5">

                    <img src="../public/img/default/three-horizontal-lines-icon.png" class="invert hover:cursor-pointer w-5" alt="">
                    <span class="font-semibold">More</span>


                </div>
            </div>
           
        </div>


        <div class="right w-[80%] h-screen flex flex-col items-center">

            <div class="upperHalf pt-[25px]     pb-[50px] border-b-[1px]  border-collapse border-gray-400/50 w-[60%]  h-max"> 


                <div class="detailPart pl-[30px] w-full    h-max flex    gap-y-56">
                    
                    <div class="dp w-[180px] relative flex items-center justify-center h-[165px] border-[3px] border-[#FF0C60]  mt-[50px] mr-[30px] rounded-full overflow-hidden">
     
                        <img src="../public/img/p/428076736_1056279748962087_2851713635285337726_n.jpg" class="absolute w-[95%] rounded-full h-[95%] object-cover object-center"  alt="">
                      
                      </div>
                      <div class="mainP text-white  w-[85%] p-[8px] flex flex-col gap-[10px]">
                        

                          <div class="nameP  my-[20px] ml-[5%] flex items-center h-max gap-[15px] ">
                              <h1 class="inline-block text-lg font-semibold">selenagomez</h1>
                              <button class=" bg-blue-500 rounded-lg hover:bg-blue-400  py-[8px] px-[13px] font-semibold text-sm">Follow</button>
                              <button class=" bg-gray-500/65 rounded-lg  p-[8px] text-sm font-semibold">Message</button>
                              <img src="../public/img/svg/setting.svg" class="invert hover:cursor-pointer" alt="">
      
                           </div>
        
                        
                        <div class="followers flex gap-[8px] ml-[5%] items-center h-max ">
    
                            <label for="post" class="font-semibold">0</label>
                            <p name="post" class="font-light text-lg mr-[10px]  ">Post</p>

                            
                            <label for="follower" class="font-semibold ">10</label>
                            <p name="follower" class="font-light text-lg mr-[10px] ">follower</p>

                            
                            <label for="follwing" class="font-semibold">100</label>
                            <p name="follwing" class="font-light text-lg mr-[10px] ">following</p>
        
                        </div>


                        <div class="bio  ml-[5%] text-white">
                            <div class="name text-sm font-semibold my-[10px] capitalize">Selena Gomez</div>
                            <p class="text-sm break-words w-[60%] tracking-wide line-clamp-3 hover:line-clamp-none ">By grace,
                                 through faith.
                                Founder @rarebeauty
                                Founder/CIO @officialwondermind</p>
        
                        </div>


                      </div>
                </div>
                <div class="highlights   overflow-x-scroll max-w-full    flex-nowrap flex gap-5 mt-[30px]">
                    
                                    <div class="highlight flex-shrink-0  w-max flex flex-col overflow-hidden items-center gap-[5px]   h-max">
                                        <div class="high  w-[80px] h-[80px] border-[1.2px] border-gray-500/80 rounded-full overflow-hidden flex justify-center items-center p-0 ">
                                          <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cmV0cm98ZW58MHx8MHx8fDA%3D" class="object-cover object-center hover:saturate-150 w-full h-full" alt="">
                                        </div>
                                        <p class=" text-white w-max capitalize text-sm  ">memories❤️</p>
                                    </div>


                                    

                                  
                                  
                </div>

            </div>

            
            <div class="lowerhalf w-[60%] relative overflow-y-scroll border-collapse  h-full ">

                <div class="headingg flex mb-[20px]  justify-center gap-[70px]  w-[100%]">

                    <div class="post text-gray-400/55 hover:text-white hover:font-semibold hover:cursor-pointer pt-[13px] hover:border-t-[1.5px]  border-collapse border-white">
                             <img src="../public/img/svg/grid.svg" class="invert w-[13px] inline-block" alt="">
                             <span class="text-sm">Post</span>
                    </div>
                    <div class="savedIm text-gray-400/55 hover:text-white hover:font-semibold  hover:cursor-pointer pt-[13px] hover:border-t-[1.5px] border-collapse border-white">
    
                        <img src="../public/img/svg/bookmark.svg" class="invert w-[13px] inline-block" alt="">
                             <span class="">Saved</span>
                    </div>
                    <div class="tagged text-gray-400/55 hover:text-white hover:font-semibold  pt-[13px] hover:cursor-pointer hover:border-t-[1.5px] border-collapse border-white">
                        <img src="../public/img/svg/tag.svg" class="invert w-[13px] inline-block" alt="">
                             <span class="">Tagged</span>
                    </div>





                </div>


                <div class="postArea    absolute w-full  h-max">

                      <div class="posts pb-[100px] w-full h-max  grid  grid-cols-3 ">
                         
                        <div class="post border-2 border-black  border-collapse w-[calc(33.33% - 0.6rem)] h-[300px] ">
                            <img src="../public/img/p/441264446_1126213221768343_5637543059057176039_n.jpg"  class="object-cover w-full h-full object-center"
                               alt="">
                        </div>

                        <div class="post border-2 border-black  border-collapse w-[calc(33.33% - 0.6rem)] h-[300px]  ">
                            <img src="../public/img/p/440954770_1072029147220829_5218973983668981113_n.jpg"  class="object-cover w-full h-full object-center"
                               alt="">
                        </div>
                        <div class="post border-2 border-black  border-collapse   w-[calc(33.33% - 0.6rem)] h-[300px]  ">
                            <img src="../public/img/p/437789699_457751003441334_5947493057326194831_n.jpg"  class="object-cover w-full h-full object-center"
                               alt="">
                        </div>
                        <div class="post border-2 border-black  border-collapse  relative  w-[calc(33.33% - 0.6rem)] h-[300px]  ">
                            <img src="../public/img/p/434883620_2410260612697940_2284194794617450786_n.jpg"  class="object-cover absolute w-full h-full object-center"
                               alt="">
                        </div>
                        <div class="post border-2 border-black  border-collapse  relative  w-[calc(33.33% - 0.6rem)] h-[300px]  ">
                            <img src="../public/img/p/408620874_284568297406693_4920356973353480021_n.jpg"  class="object-cover absolute w-full h-full object-center"
                               alt="">
                        </div>
                        <div class="post border-2 border-black  border-collapse  relative  w-[calc(33.33% - 0.6rem)] h-[300px]  ">
                            <img src="../public/img/p/434239024_927607062238789_7606708978821387531_n.jpg"  class="object-cover absolute w-full h-full object-center"
                               alt="">
                        </div>
                       
                     
                     
                         
                              


                      </div>



                </div>
            </div>



        </div>









    </main>
</body>
</html>