<%- include('partials/header') %>
    <title>Register</title>
</head>
<body>
    <main class="w-screen h-screen flex justify-center flex-col pt-8 items-center p-6">
  
        <div class="formP border-[1.5px] w-[20vw] h-max  border-gray-500/25 p-10 flex flex-col items-center ">
            <div class="logo">
                <img src="../img/default/logo.png" class="invert w-[8.8em]" alt="">
             </div>

             <form action="" class="mt-5">

                <input type="email" id="email" name="email" placeholder="email" class="w-full outline-none border-[0.8px] text-sm bg-gray-200/55 h-8 rounded-sm p-1 border-gray-500/55 mb-2" >
                <input type="text" id="name" name="name" placeholder="Full name" class="w-full outline-none border-[0.8px] text-sm bg-gray-200/55 h-8 rounded-sm p-1 border-gray-500/55 mb-2" >
                <input type="text" id="username" name="username" placeholder="username" class="w-full outline-none border-[0.8px] text-sm bg-gray-200/55 h-8 rounded-sm p-1 border-gray-500/55 mb-2" >

                <input type="password"  name="password" placeholder="password" id="password" class="w-full outline-none border-[0.8px] text-sm bg-gray-200/55 h-8 rounded-sm p-1 border-gray-500/55 mb-2">
                <input type="submit" disabled id="submit" value="Sign up" class="w-full bg-blue-400 text-white hover:cursor-pointer font-semibold text-sm p-2 rounded-md">


             </form>
        </div>

        <div class="lowerH border-[1px] rounded-lg flex items-center p-5  border-gray-500/25 my-4">

            <a href="./login.html" class="text-black w-full text-center hover:cursor-pointer hover:text-gray-600">Already have a account ? <span class="text-blue-500 font-semibold">Login </span></a>

        </div>


    </main>
    <script src="../javascript/register.js"></script>
</body>
</html>