img{
    image-rendering: optimizeQuality;
}

.right::-webkit-scrollbar{
    display: none;
}
.stories::-webkit-scrollbar{
    display: none;
}
.highlights::-webkit-scrollbar{
    display: none;
}
.lowerhalf::-webkit-scrollbar{
    display:none;
}